/*
 * This CSS file contains 4 parts:
 *   CSS Reset
 *   Global styles
 *   Home page styling
 *   Content page styling
 */

/**
 * Part 1: CSS Reset
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Part 2: Global styles
 */
body {
  background-color: #F2F2F2;
  font-family: Calibri, "Helvetica Neue", Helvetica, sans;
}

div#metabox {
  position: absolute;
  top: 20px;
  left: 0px;
  width: 175px;
  padding: 15px 15px 0 30px;
  overflow: hidden;
  background-color: #FFFFFF;
  -moz-box-shadow: 2px 2px 2px 2px #E2E2E2;
  -webkit-box-shadow: 2px 2px 2px 2px #E2E2E2;
  box-shadow: 2px 2px 2px 2px #E2E2E2;
}
div#metabox h1 {
  font-size: 30px;
  padding-bottom: 15px;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/**
 * Part 3: Home page
 */
div#icon-wrapper {
  position: relative;
  top: 100px;
  margin-top: 15%;
  text-align: center;
  width: 100%;
}
div.icon-container {
  display: inline-block;
  padding: 20px 40px;
  width: 125px;
  height: 125px;
}
div.icon-container img {
  width: 125px;
  height: auto;
}
div#icon-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  overflow: hidden;
  background-color: black;
  border-radius: 10px;
  width: auto;
  height: 30px;
  color: #FFFFFF;
  padding: 10px 10px 0px 10px;
  font-size: 20px;
  font-family: Helvetica;
  white-space: nowrap;
}


/**
 * Part 4: Content pages
 */
div#back {
  position: absolute;
  top: 25px;
  left: 260px;
  width: 30px;
  height: 30px;
  padding: 10px;
  font-size: 30px;
  text-align: center;
  background-color: #FFFFFF;
  border: 2px solid #D2D2D2;
  border-radius: 25px;
  cursor: pointer;
}
div#back:hover {
  background-color: #EEEEEE;
}
a#back-link {
  color: #000000;
  text-decoration: none;
}

div#nav-menu {
  overflow: hidden;
  background-color: #FFFFFF;
  border-top-left-radius: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 81px;
  padding: 2px;
  border-top: 3px solid #CDCDCD;
  border-left: 3px solid #CDCDCD;
  cursor: pointer;
}
div.nav-item img {
  width: 70px;
  height: auto;
  margin: 5px;
}
div.nav-item {
  position: absolute;
  z-index: 98;
}
div.nav-item.current {
  z-index: 99;
}
div#nav-hide {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 84px;
  height: 26px;
  padding-top: 5px;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  border-top-left-radius: 7px;
  cursor: pointer;
}

div#main-wrapper {
  text-align: center;
  margin: 0 auto;
  padding: 110px 0 0 0;
  width: 100%;
  max-width: 800px;
}
h1#page-heading {
  margin: 0 0 30px 0;
  font-size: 40px;
}
div.module {
  height: 60px;
  margin: 15px 15px;
  background-color: #FFFFFF;
  border: 1px solid #DEDEDE;
  -moz-box-shadow: 2px 2px 2px 2px #E2E2E2;
  -webkit-box-shadow: 2px 2px 2px 2px #E2E2E2;
  box-shadow: 2px 2px 2px 2px #E2E2E2;
  overflow: hidden;
}
div.module h2.heading {
  text-align: left;
  font-size: 24px;
  font-weight: bold;
  padding: 18px 16px;
  cursor: pointer;
}
div.module h2.heading:hover {
  color: #54a8db;
}
div.module span.content {
  line-height: 1.5em;
}
