/*
 * This CSS file contains 3 parts:
 *   CSS Reset
 *   Home page styling
 *   Content page styling
*/

/**
 * Part 1: CSS Reset
 */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Part 2: Home page
 */
body {
  background-color: #F2F2F2;
  font-family: Calibri, "Helvetica Neue", Helvetica, sans;
}
div#metabox {
  position: absolute;
  top: 20px;
  left: 0px;
  width: auto;
  padding: 15px 15px 15px 30px;
  overflow: hidden;
  background-color: #FFFFFF;
  -moz-box-shadow: 2px 2px 2px 2px #E2E2E2;
  -webkit-box-shadow: 2px 2px 2px 2px #E2E2E2;
  box-shadow: 2px 2px 2px 2px #E2E2E2;
}
div#metabox h1 {
  font-size: 30px;
  padding-bottom: 15px;
}
div#icon-wrapper {
  position: relative;
  top: 100px;
  margin-top: 15%;
  text-align: center;
  width: 100%;
}
div.icon-container {
  display: inline-block;
  padding: 20px 40px;
}
div.icon-container img {
  width: 125px;
  height: auto;
}
div#icon-tooltip {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  overflow: hidden;
  background-color: black;
  border-radius: 10px;
  width: auto;
  height: 30px;
  color: #FFFFFF;
  padding: 10px 10px 0px 10px;
  font-size: 20px;
  font-family: Helvetica;
  white-space: nowrap;
}

/**
 * Part 3: Content pages
 */
div#nav-menu {
  overflow: hidden;
  background-color: #FFFFFF;
  border-top-left-radius: 10px;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 81px;
  padding: 2px;
  border-top: 3px solid #CDCDCD;
  border-left: 3px solid #CDCDCD;
  cursor: pointer;
}
div.nav-item img {
  width: 70px;
  height: auto;
  margin: 5px;
}
div.nav-item {
  position: absolute;
}
div#nav-hide {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 84px;
  height: 19px;
  padding-bottom: 4px;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  border-top-left-radius: 7px;
  cursor: pointer;
}

div#main-wrapper {
  text-align: center;
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
}
div#main {
  margin: 100px 15px 40px 15px;
  background-color: #FFFFFF;
  padding: 30px 20px;
  border: 1px solid #DEDEDE;
  -moz-box-shadow: 2px 2px 2px 2px #E2E2E2;
  -webkit-box-shadow: 2px 2px 2px 2px #E2E2E2;
  box-shadow: 2px 2px 2px 2px #E2E2E2;
}
span#heading {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 0px 20px;
}
span#subheading {
  font-size: 20px;
  font-style: italic;
}
span#content {
  line-height: 1.5em;
}








