* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  overflow: hidden;
  background: #e9eef4;
}
a {
  text-decoration: none;
  color: inherit;
}

.Root {
  position: absolute;
  transform-origin: center;
}
.Root__BackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
  box-shadow: 0 0 20px 3px #e1e4eb;
}
.Root__CardContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 800px;
}
.CardContainer__Card {
  position: absolute;
  width: 300px;
  height: 171px;
  top: 850px;
  left: 1500px;
  background-color: #ebeffb;
  overflow: hidden;
  z-index: 3;

  transform-origin: center center;
  transform: rotateZ(10deg) translate(-80px, -40px);
}
.CardContainer__CardShadow {
  position: absolute;
  width: 302px;
  height: 173px;
  top: 849px;
  left: 1499px;
  background-color: #445555;
  box-shadow: 0 0 10px 1px #666;
  opacity: 0.3;
  overflow: hidden;
  z-index: 2;

  transform-origin: center center;
  transform: rotateZ(10deg) translate(-80px, -40px);
}

.Card__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  pointer-events: none;
}
.Card__background--image {
  background: url(card.jpg);
  background-size: cover;
  transform: scale(2) rotateZ(130deg);
  opacity: 0.3;
}
.Card__background--color {
  background-color: #ebeffb;
  opacity: 0.25;
}

.Card__content {
  padding: 10px 13px;
  font-family: "Lato", Helvetica;
  color: #111;
  z-index: 5;
}
.Card__content__title {
  padding: 3px;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
}
.Card__content__github {
  width: 30px;
  height: 30px;
}
.Card__content__github:hover {
  opacity: 0.7;
}

.Card__content__subtitle {
  color: #666;
  font-size: 15px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.Card__content__projects {
  margin-top: 10px;
  font-size: 15px;
  line-height: 18px;
}
.Card__content__projectItems {
  margin-top: 3px;
  margin-left: 0px;
  list-style-type: none;
}
.Card__content__projectItems img {
  position: relative;
  top: 1px;
  left: -1px;
  width: 14px;
  height: 14px;
}
.Card__content__projectItems a:hover {
  opacity: 0.7;
}
