* {
  margin: 0px;
  padding: 0px;
}
body {
  height: 100vh;
  /* overflow: hidden; */
}
a {
  text-decoration: none;
  color: inherit;
}

.Root__BackgroundImage {
  position: absolute;
  top: 0;
  left: 0;
  width: auto;
  height: auto;
}
.Root__CardContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  perspective: 800px;
}
.CardContainer__Card {
  position: absolute;
  width: 300px;
  height: 171px;
  top: 1000px;
  left: 1400px;
  background-color: #ebeffb;
  overflow: hidden;
  z-index: 3;

  animation: cardDrop 1125ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transform-origin: center center;
  transform: rotateZ(10deg) translate(-80px, -40px);
  perspective: 800px;
}
@keyframes cardDrop {
  0% {
    transform: rotateZ(10deg) rotateX(-15deg)  rotateY(0deg)    scale(5)    translate(-400px, -100px);
  }
  76% {
    transform: rotateZ(10deg) rotateX(-7.5deg) rotateY(20deg)   scale(1.1);
  }
  84% {
    transform: rotateZ(10deg) rotateX(4deg)    rotateY(-7deg) scale(1.04) translate(-80px, -40px);
  }
  92% {
    transform: rotateZ(10deg) rotateX(-1deg)   rotateY(1.5deg)  scale(1)    translate(-80px, -40px);
  }
  100% {
    transform: rotateZ(10deg) translate(-80px, -40px);
  }
}
.CardContainer__CardShadow {
  position: absolute;
  width: 302px;
  height: 173px;
  top: 1000px;
  left: 1400px;
  background-color: #666;
  box-shadow: 0 0 10px 1px #666;
  opacity: 0.3;
  overflow: hidden;
  z-index: 2;

  animation: cardShadow 1125ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transform-origin: center center;
  transform: rotateZ(10deg) translate(-80px, -40px);
  perspective: 800px;
}
@keyframes cardShadow {
  0% {
    transform: rotateZ(13deg) rotateX(-15deg) scale(5) translate(-400px, -100px);
  }
  76% {
    transform: rotateZ(10deg) rotateX(-15deg) skew(10deg, 20deg) rotateY(20deg) translate(20px, -35px) scale(1.1);
  }
  84% {
    transform: rotateZ(11deg) rotateX(5deg) skew(1deg, -2deg) rotateY(-6deg) translate(-87px, -35px) scale(1.04);
  }
  92% {
    transform: rotateZ(10deg) rotateX(-2deg) skew(2deg, 1deg) rotateY(1.5deg) translate(-85px, -45px) scale(1.02);
  }
  100% {
    transform: rotateZ(10deg) translate(-80px, -40px);
  }
}

.Card__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  pointer-events: none;
}
.Card__background--image {
  background: url(card.jpg);
  background-size: cover;
  transform: scale(2) rotateZ(130deg);
  opacity: 0.3;
}
.Card__background--color {
  background-color: #ebeffb;
  opacity: 0.25;
}

.Card__content {
  padding: 10px 13px;
  font-family: "Lato", Helvetica;
  color: #111;
  z-index: 5;
}
.Card__content__title {
  padding: 3px;
  border-bottom: 1px solid #333;
  display: flex;
  justify-content: space-between;
}
.Card__content__github {
  width: 30px;
  height: 30px;
}

.Card__content__subtitle {
  color: #666;
  font-size: 15px;
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

.Card__content__projects {
  margin-top: 10px;
  font-size: 15px;
  line-height: 18px;
}
.Card__content__projectItems {
  margin-top: 3px;
  margin-left: 23px;
}
.Card__content__projectItems a:hover {
  color: #555;
}
